body,html{
	font-size: 10px;
	font-family: "΢���ź�";
	background: #fff;
	height:100%;
}
p{
	color:#000;
	margin-bottom: 0;
}
.mui-table-view-cell{
	font-size: 1.4rem;
}
.mui-content{
	background: #fff;
}

.header{
	background: #f5f5f5;
	padding: 1rem 1.5rem;
}
.header h4{
	font-size: 1.7rem;
	font-weight: 500;
}
.gary{
	font-size: 1.2rem;
	color:#555;
}


.manage_key{
	background: #fff;
	border-bottom: 3px solid #f2f2f2;
}
.manage_key a{
	display: block;
	padding:1rem 1.5rem;
}
.manage_key p{
	font-size: 1.5rem;
	font-weight: 500;
}
.manage_key p span{
	float: right;
}


.title{
	padding:0 1.5rem;
	display: flex;
	/*justify-content: space-between;*/
}

.title dl{
	width: 30%;
	display: inline-block;
	/*vertical-align: middle;*/
	margin-top:1.2rem;
	border-right: 1px solid #f2f2f2;
}
.title dt{
	text-align: center;
	margin: 0 auto;
}
.title dd{
	text-align: center;
	margin: 0 auto;
	line-height:1.5rem
}
.title div{
	display: inline-block;
	margin-left: 1.5rem;
}
.title div p{
	line-height: 2rem;
	margin-left: 1.5rem;
	font-size: 1.3rem;
}
.content_list table{
	width:100%;
}
.content_list ul li td{
	font-size: 1.3rem;
	color:#000;
}
.mui-btn, button, input[type=button], input[type=reset], input[type=submit] {
    font-size: 12px;
    padding: 4px 10px;
    color: #000;
    border: 0px solid #ccc;
    background-color: #f2f2f2;
    margin-left: .5rem;
}