/* queryMoble初始化设置 */
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
    text-shadow: 0 0 0 ;
}
.ui-content {
    border-width: 0;
    overflow: visible;
    overflow-x: hidden;
    padding: 0;
}
.user-ui-btn-scan{
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    top: 25%;
    left: 1em;
}
.ui-page-theme-a a:hover, html .ui-bar-a a:hover, html .ui-body-a a:hover, html body .ui-group-theme-a a:hover {
    color: #3c3c3c;
}
.user-ui-btn-scan a,.user-ui-btn-information a {
    width: 30px;
    height: 30px;
    display: inline-block;
}
.user-ui-btn-information{
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    top: 25%;
    right: 1em;
}
.user-ui-btn .ui-ican {
    display: inline-block;
    width:25px;
    height:25px;

}
/* 首页导航条 */
div.index_nav{
    width:100%;
    height:2.5em;
    background-image: -moz-linear-gradient(to bottom , #ffffff 0% , #f1f1f1 75% , #d8d6d7 100%);
    background-image: -webkit-linear-gradient(to bottom , #ffffff 0% , #f1f1f1 75% , #d8d6d7 100%);
    background-image: -o-linear-gradient(to bottom , #ffffff 0% , #f1f1f1 75% , #d8d6d7 100%);
    background-image: linear-gradient(to bottom , #ffffff 0% ,  #f1f1f1 75% ,#d8d6d7 100%);
}
div.index_nav ul{
    width:100%;
    height:2.5em;
}
div.index_nav ul li{
    float: left;
    height: 2.5em;
    line-height: 2.5em;
    width:33.3%;
    text-align: center;
}
div.index_nav ul li a{
    display: inline-block;
    height: 1.5em;
    line-height: 1.5em;
    color: #858585;
    font-weight: 500;
    text-decoration: none;
    padding: 0 6px;
}
div.index_nav ul li a.hover{
    border-bottom: 2px solid #858585;
    color: #3c3c3c;
}
/*轮播*/
img{
    max-width:100%;
}

.ui-content .banner{
    min-height: 11em;
/*     margin-bottom: 5px; */
    overflow: hidden;
    position: relative;
    background:#fff;
}

.ui-content .banner ul.img-adv{
    width:100%;
    position:relative;
    z-index: 10;
}
.ui-content .banner ul.img-adv li{
    position:absolute;
    top: 0;
    left:100%;
    width:100%;
    z-index: 5;
}
.ui-content .banner ul.img-adv li a{
    display: inline-block;
    width:100%;
}
.ui-content .banner ul.img-adv li a img{
    max-width:100%;
    min-width:100%;
}

.ui-content .banner div.points{
    width: 100%;
    height:14px;
    position:absolute;
    bottom:0;
    left:0;
    z-index: 20;
    text-align: center;
}
@media screen and (min-width: 225px) and (max-width: 319px) {
    .ui-content .banner div.points{
        bottom:.2em;
    }
    .ui-content .banner{
        min-height: 8em;
    }
}
@media screen and (min-width: 320px) and (max-width: 359px) {
    .ui-content .banner div.points{
        bottom:.3em;
    }
    .ui-content .banner{
        min-height: 9em;
    }
}
@media screen and (min-width:360px) and (max-width: 380px){
    .ui-content .banner div.points{
        bottom:0.3em;
    }
    .ui-content .banner{
        min-height: 10.5em;
    }
}
@media screen and (min-width:381px) and (max-width: 450px){
    .ui-content .banner div.points{
        bottom:0.3em;
    }
    .ui-content .banner{
        min-height: 11.5em;
    }
}
@media screen and (min-width:451px){
    .ui-content .banner div.points{
        bottom:0.3em;
    }
    .ui-content .banner{
        min-height: 11.5em;
    }
}
.ui-content .banner div.points span {
    width: 0;
    height: 0;
    display: inline-block;
    border:3px solid #fff;
    border-radius: 50%;
    margin-left:10px;

}
.ui-content .banner div.points span.hover {
    border:3px solid #5f5;
}

/*尾号限行*/
.limit{
    width:100%;
    height:1em;
    padding:8px 26px;
    background: #fff;
    margin-bottom: 4px;
    position:relative;
}
.limit span.info{
	display:inline-block;
	width:20px;
	height:100%;
	background:url("../../images/icon_limit.png") no-repeat center;
	background-size:20px 18px;
	vertical-align:middle;
	margin-bottom:2px;
}
.limit h5{
    font-weight: 400;
    font-size: 0.9em;
    display: inline-block;
    margin-right: 1em;
    color: #232323;
}
.limit span.date{
    font-size: .6em;
    color: #232323;
    font-weight: 300;
}
.limit>a{
    display:block;
    width:99%;
    height:100%;
    position: absolute;
    top: 0;
    left:0;
}
.limitCode{
    color:#ff906c;
}
/*图片导航〃*/
.recommend,.ser-list{
    background: #fff;
    margin-bottom:5px;
}
.ser-list>div.ui-grid-c>div{
    position: relative;
    
   
}

.ser-list>div.ui-grid-c.two>div{
   padding-bottom: 5px;
}

.ser-list>div.ui-grid-c>div a{
    display: block;
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    
}
.ser-list>div.ui-grid-c>div dt{
    text-align: center;
}
.ser-list>div.ui-grid-c>div dd{
    text-align: center;
    font-size: .7em;
    color:#333;
    font-weight: 400;
}

/*秒杀*/
.banner.product-banner{
    min-height: 13em;
}
.ui-content .banner div.points.product-points {
        bottom:.5em;
}

/*应季原产地*/
.recommend{
    margin:0 0;
    padding: .5em .2em 1em .2em;

}
.title{
    font-size: 1.2em;
    color: #7a7a7a;
    font-weight: 500;
    margin-bottom: .5em;
}
.recommend a{
    margin: 5px;
    padding: 0 5px;
    display: block;
    /*border: 1px solid #eee;*/
    font-size: .8em;
    font-weight: 300;
    color:#555;
    text-decoration: none;
}
.recommend dd{
    padding: 0;
    margin: 0;
}
.recommend dd p.intro{

	text-overflow: -o-ellipsis-lastline;
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	display: box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
    color: #2f2f2f;
    font-size: .8em;
    font-weight: 500;
}

/* .recommend dd p.intro { */
/* 	color: #2f2f2f; */
/*     font-size: .8em; */
/*     font-weight: 500; */
/*     position:relative;  */
/*     line-height:1.4em;  */
/*     height:2.8em;  */
/*     overflow:hidden;  */
/* }  */
/* .recommend dd p.intro:after {  */
/*     content:"...";  */
/*     font-weight:bold;  */
/*     position:absolute;  */
/*     bottom:0;  */
/*     right:0;  */
/*     padding:0 10px 1px 45px;  */
/* 	background:url(http://css88.b0.upaiyun.com/css88/2014/09/ellipsis_bg.png) repeat-y;  */

/* }  */

.red{
    color:#e4393c;
    font-weight: 600;
}
.gray{
    color:#aaa;
}
.fr{
    float: right;
}

@media screen and (min-width: 225px) and (max-width: 319px) {
    .banner.product-banner{
        min-height: 4em;
    }
    .line{
        width:67%;
    }
    /*尾号限行*/
    .limit span.info{
       
    }
    .limit h5{
        font-weight: 400;
        font-size: 0.8em;
        display: inline-block;
        margin-right: .4em;
    }
    .limit span.date{
        font-size: .6em;
    }
}

.ui-page-theme-a a:visited, html .ui-bar-a a:visited, html .ui-body-a a:visited, html body .ui-group-theme-a a:visited {
    color: #333;
}

@media screen and (min-width: 320px) and (max-width: 360px) {
    .banner.product-banner{
        min-height: 7em;
    }
    /*尾号限行*/
    
    .limit span.info{
        
    }
    .limit h5{
        font-weight: 400;
        font-size: 0.8em;
        display: inline-block;
        margin-right: 1em;
    }
    .limit span.date{
        font-size: .6em;
    }
}
@media screen and (min-width:361px) and (max-width:380px){
    .banner.product-banner{
        min-height: 8em;
    }
    .recommend a{
        font-size: .7em;
    }
}
@media screen and (min-width:381px) and (max-width:450px){
    .banner.product-banner{
        min-height: 9em;
    }
    .recommend a{
        font-size: .7em;
    }
    
}
@media screen and (min-width:451px) and (max-width:520px){
    .banner.product-banner{
        min-height: 10em;
    }
    .recommend a{
        font-size: .8em;
    }
    
}
@media screen and (min-width:521px) and (max-width:600px){
    .banner.product-banner{
        min-height: 11em;
    }
    .recommend a{
        font-size: .8em;
    }
    
}
