.ui-page{
    background:#efefef;
}

.mainblock
{
    background: #ffffff;
    color: #333333;
    border-radius:8px;
    margin: 10px 15px;
    padding: 10px 0;
}

.mainblock .btitle
{
    font-size: 16px;
    font-weight: 600;
    margin: 10px 15px 5px 66px;
}

.mainblock .bimg
{
    text-align: right;
    margin: 11px 0 0 15px;
    float:left;
   
}

.mainblock .bimg img
{
    height: 20px;
}

.mainblock .bcon
{
	clear:both;
    font-size: 16px;
    line-height: 1.5em;
    border-bottom: 1px solid #efefef;
    padding: 0px 15px 8px 15px;
}

.mainblock .bbottom
{
    font-size: 16px;
    line-height: 1.5em;
    color: #7d7d7d;
    padding: 15px 20px 10px 20px;
}

.mainblock .bbottom .bdi
{
    width: 60%;
    float: left;
}

.mainblock .bbottom .bdate
{
    width: 40%;
    float: left;
    text-align: right;
}

.clr
{
    clear:both;
    width: 0;
    height: 0;
}